img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navbar{
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    box-shadow: 0 0 10px black;
}