<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-xl">
    <a class="navbar-brand" routerLink="/"><img src="assets/icon.png" class="icon">Football Predictions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Football Predictions</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link" data-bs-dismiss="offcanvas" [class.active]="activePage === 'home'" routerLink="/">
                Home
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [class.active]="activePage === 'team'" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Teams
            </a>
            <ul class="dropdown-menu">
              <ng-container *ngFor="let team of teams">
                <li><a class="dropdown-item" data-bs-dismiss="offcanvas" [routerLink]="[household, 'team', team]">{{ team | titlecase }}</a></li>
              </ng-container>
            </ul>
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link" data-bs-dismiss="offcanvas" [class.active]="activePage === 'week'" [routerLink]="[household, 'week']">
                Week View
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-dismiss="offcanvas" [class.active]="activePage === 'predict'" [routerLink]="[household, 'predict']">
                Make Predictions
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger" data-bs-dismiss="offcanvas" [class.active]="activePage === ''" [routerLink]="[household==='mills' ? 'pam' : 'mills', 'home']" (click)="reloadPage()">
                Switch Households
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>
