<div class="row">
    <div class="nav-section col-lg-6 p-3">
        <div class="navigation-card p-4">
            <div class="navigation-card__header">
                <h2 class="display-6 text-bottom">Recent Games</h2>
            </div>
        </div>
        <div class="navigation-card p-4">
            <div class="navigation-card__header">
                <h2 class="display-6 text-bottom">Upcoming Games</h2>
            </div>
        </div>
        <div class="nav-section row">
            <div class="navigation-card p-4">
                <div class="navigation-card__header">
                    <h2 class="display-6 text-bottom">Logan</h2>
                </div>
            </div>
            <div class="navigation-card p-4">
                <div class="navigation-card__header">
                    <h2 class="display-6 text-bottom">Nick</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-section col-lg-3 p-3">
        <div class="navigation-card p-4">
            <div class="navigation-card__header">
                <h2 class="display-6 text-bottom">Steelers</h2>
            </div>
        </div>
        <div class="navigation-card p-4">
            <div class="navigation-card__header">
                <h2 class="display-6 text-bottom">Cowboys</h2>
            </div>
        </div>
        <div class="navigation-card p-4">
            <div class="navigation-card__header">
                <h2 class="display-6 text-bottom">Giants</h2>
            </div>
        </div>
    </div>

    <div class="nav-section col-lg-3 p-3">
        <div class="navigation-card p-4">
            <div class="navigation-card__header">
                <h2 class="display-6 text-bottom">Steelers</h2>
            </div>
        </div>
        <div class="navigation-card p-4">
            <div class="navigation-card__header">
                <h2 class="display-6 text-bottom">Cowboys</h2>
            </div>
        </div>
        <div class="navigation-card p-4">
            <div class="navigation-card__header">
                <h2 class="display-6 text-bottom">Giants</h2>
            </div>
        </div>
    </div>
</div>