<li class="list-group-item game-list-group">
    <div class="row">
        <div class="col-md-2 game-info">
            <p class="game-info__week lead mx-auto">Week {{ game.week }}</p>
            <p class="game-info__date lead mx-auto">{{ game.date.format("MM/DD/YY")}}</p>
            <p class="game-info__time lead mx-auto">{{ game.time }}</p>
        </div>
        <div class="col-md-10 game-teams">
            <div class="row game-teams-row">
                <div class="col-5 game-teams__team m-auto" (click)="setPrediction(game.away)">
                    <p class="game-teams__team-name lead m-auto" [class.winner]="game.away === prediction" [class.loser]="game.home === prediction" [class.current-team]="game.away === currentTeam">
                        {{ game.away }}
                    </p>
                </div>
                <div class="col-2 game-teams__vs m-auto">
                    <p class="game-teams__vs-text lead m-auto">VS</p>
                </div>
                <div class="col-5 game-teams__team m-auto" (click)="setPrediction(game.home)">
                    <p class="game-teams__team-name lead m-auto" [class.winner]="game.home === prediction" [class.loser]="game.away === prediction" [class.current-team]="game.home === currentTeam">
                        {{ game.home }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</li>

