.page-title {
    margin-top: 20px;
}

.scrollable{
    overflow-y: scroll;
    max-height: 65vh;
    scrollbar-width: 0;
    ::-webkit-scrollbar{
        display: none;
    }
}

.team-button(@color) {
    background-color: transparent;
    color: white;
    border: 3px solid @color;
    cursor: pointer;
    padding: 10px 20px;
    margin: 4px 2px;
    transition: 0.2s;
    font-weight: bold;
    border-radius: 5px;

    &.active, &:hover{
        background-color: @color;
        color: black;
        border: 3px solid black;
    }

    &:hover {
        box-shadow: 0 0 10px @color;
    }
}

.steelers-button {
    .team-button(#FFB612);
}

.eagles-button {
    .team-button(#004C54);
}

.giants-button {
    .team-button(#A71930 );
}

.patriots-button {
    .team-button(#C60C30);
}

.chargers-button {
    .team-button(#FFC20E);
}

.cowboys-button {
    .team-button(#869397 );
}

.vikings-button {
    .team-button(#4F2683);
}

.colts-button {
    .team-button(#002C5F);
}