<!--Off Canvas Team buttons-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="teamSelectionButtons" aria-labelledby="teamSelectionButtons">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Select a Team</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Select a team to view their schedule and make predictions for the season.
      </div>
      <ul class="list-group text-center">
        <ng-container *ngFor="let team of teams">
            <li class="list-group-item" [ngClass]="team.name.toLowerCase() +'-button'" [class.active]="teamName === (team.city + ' ' + team.name)" (click)="changeTeamName(team.city + ' ' + team.name)" data-bs-dismiss="offcanvas">
              {{ team.city | titlecase }} {{ team.name | titlecase }}
              <span *ngIf="isTeamComplete(team.name)" class="badge bg-success rounded-pill">Complete</span>
            </li>
        </ng-container>
      </ul>
    </div>
</div>

<app-submit-predictions-modal [playerName]="playerName" [showColor]="showColor" [submitCallback]="sendPredictions.bind(this)"
(nameChange)="changePlayerName($event)" [readyToSubmit]="readyToSubmit"></app-submit-predictions-modal>

<div class="text-center">
  <h1 class="page-title display-5">Make Your Predictions</h1>
</div>
<div class="bg-dark px-5 text-center">
    <h2 class="page-subtitle display-6">{{ teamName }}
    </h2>
    <p class="lead record">{{ wins }} - {{ losses }}</p>

    <div class="row gx-3 justify-content-center">
        <button class="btn btn-primary col-12 col-md-2 mx-1 mb-1" data-bs-toggle="offcanvas" data-bs-target="#teamSelectionButtons">Switch Team</button>

        <button class="btn btn-success col-12 col-md-2 mx-1 mb-1" data-bs-toggle="modal" data-bs-target="#submitModal" (click)="isReadyToSubmit()">Submit Predictions</button>
    </div>
    <hr>
</div>
<div class="container text-center scrollable">
    <div class="content-wrapper ">
        <ul class="list-group prediction-list">
            <ng-container *ngFor="let game of getAllGames()">
                <app-game-predict [game]="game" (gamePredicted)="updateRecord($event)" [currentTeam]="teamName" [prediction]="getPredictionForGame(game.id)"></app-game-predict>
            </ng-container>
        </ul>
    </div>
</div>
